*{margin: 0px; padding: 0px;}
/* ======================Navbar============================= */
.nav
{
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 22;
}
.icon
{
    margin-top: 22px;
    margin-left: 119px;
}

.navlist
{
    float: right;
    list-style: none;
    margin-right: 75px;
}

.navlist li
{
    float: left;
    padding: 13px 19px;
}
.navlist li a
{
    text-decoration: none; 
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 55px;
    font-size: 11.9px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.navlist li a:hover{color: rgb(89, 198, 235);}
/*===================Navbar end==================*/
 /*====================First Section=============*/
.container1
{
    height: 357px;
    background-image: url("../image/about_banner.jpg");
    background-size: 100%;
}
.cover
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.509);
}
.home
{
    height: 80px;
    width: 250px;
    /* background-color: red; */
    position: relative;
    top: 45%;
    left: 41%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 45px;
}
.head1
{
   display: inline;
   padding-right:5px;
   font-weight: lighter;
}
/*==================Firsr Section End====================*/
/*==================Second Section====================*/
.container2
{
    height: 1350px;
}
.head2
{
    height: auto;
    width: 350px;
    margin: auto;
    margin-top: 9%;
    /* background-color: red; */
    font-family: sans-serif;
    text-align: center;
    line-height: 35px;
}
.head2i
{
    text-transform: capitalize;
}
.img-container
{
    height: 1100px;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 5%;
    position: relative;
}
.sec1
{
    height: 100%;
    width: 365px;
    /* border: 1px solid green; */
    float: left;
    margin-left: 27px;
}
.box
{
    height: 250px;
    width: 360px;
    /* border: 1px solid; */
    margin-top: 21px;
}
.box2
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    visibility: hidden;
    position: relative;
}
.box:hover .box2{visibility: visible;}
.arrow
{
    height: auto;
    width: fit-content;
    /* background-color: red; */
    font-size: 25px;
    margin: auto;
    top: 50%;
    left: 45%;
    position: absolute;
}
.style
{
    color: white;
    transform: rotate(35deg);
    cursor: pointer;
}
/*==================Secon Section End====================*/
/* ======================Footer Section=================== */
.footer
{
    height: 650px;
    background-color: black;
}
.container7
{
    height: 250px;
    width: 94%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.64);
    margin-left: 2%;
    position: absolute;
    margin-top: 11%;
}
.head7
{
    height: 50px;
    width: 100%;
    /* background-color: yellow; */
}
.footerh
{
    display: inline;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    /* margin-left: 15.5%; */
}
.fbox
{
    height: auto;
    width: 21%;
    /* border: 1px solid green; */
    float: left;
    margin-left: 3%;
}
.pra{
    color: rgba(128, 128, 128, 0.702);
    font-family: sans-serif;
    line-height: 25px;
}
.navigation
{
    
    list-style: none;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 35px;
    float: left;
}
.navigation li a{text-decoration: none; color: rgba(128, 128, 128, 0.705);}
.navigation li a:hover{color: orange; transition: 0.5s;}
.right{margin-left: 13%;}
.email
{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.705);
    margin-top: 11%;
}
.place-holder
{
    margin-left: 11%;
    margin-top: 3.5%;
    color: gray;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 15px;
    float: left;
}
.font
{
    height: 100%;
    width: 15%;
    background-color: rgb(255, 179, 0);
    float: right;
    text-align: center;
    line-height: 37px;
}
.sign{color: white;}
.pic-s{margin-left: 2%; margin-top: 2%;}
.copy
{
    height: 45px;
    width: 90%;
    /* border: 1px solid green; */
    position: absolute;
    margin-top: 32%;
    margin-left: 5%;
}
.copy-text{color: gray; font-family: sans-serif; float: left;}
.symbol
{
    height: 100%;
    width: 25%;
    /* background-color: red; */
    float: right;
    
}
.lf{margin-left: 7%;}
.copy-text a{text-decoration: none; color: orange;}
.symbol a{text-decoration: none; color: gray; transition: 0.5s;}
.symbol a:hover{color: orange;}
/* ======================Footer Section End=================== */